src/baseCommand.o
src/common.o
src/greenhill
src/main.o
src/mapper.o
src/pairedDBG.o
src/scaffold.o
src/scaffoldGraph.o
src/seqlib.o
src/solveDBG.o
test_data/FALCON-Unzip.log
test_data/FALCON-Unzip_ConsensusOutput.fa
test_data/FALCON-Unzip_afterPhase.fa
test_data/FALCON-Unzip_longReadAlignment.tsv
test_data/FALCON-Unzip_longReadLibrary_readDistribution.tsv
test_data/FALCON-Unzip_minced_nonBubble.fa
test_data/FALCON-Unzip_minced_primaryBubble.fa
test_data/FALCON-Unzip_minced_secondaryBubble.fa
test_data/FALCON-Unzip_selfAlignment.tsv
test_data/Canu.log
test_data/Canu_ConsensusOutput.fa
test_data/Canu_afterPhase.fa
test_data/Canu_longReadAlignment.tsv
test_data/Canu_longReadLibrary_readDistribution.tsv
test_data/Canu_minced_nonBubble.fa
test_data/Canu_minced_primaryBubble.fa
test_data/Canu_minced_secondaryBubble.fa
test_data/Canu_selfAlignment.tsv
test_data/Platanus-allee.log
test_data/Platanus-allee_ConsensusOutput.fa
test_data/Platanus-allee_afterPhase.fa
test_data/Platanus-allee_lib1_insFreq.tsv
test_data/Platanus-allee_lib2_insFreq.tsv
test_data/Platanus-allee_lib3_insFreq.tsv
test_data/Platanus-allee_longReadAlignment.tsv
test_data/Platanus-allee_longReadLibrary_readDistribution.tsv
